
/*These colors are just for testing purpose, they are to be edited later after we decide on a look for the websites. I'm just making sure my CSS is actually working first.*/
h1 {color: blueviolet;
}
body {background-color:lightblue;}

a {font-size: larger;}